.button {
  background-color: var(--button);
  border-radius: 200px;
  padding: 16px 40px;
  width: 100%;
  height: 56px;
  color: var(--white);
  border: none;
  transition: var(--animation);
}

.button:hover {
  background-color: var(--button-hover);
}
