.container {
  padding: calc((100vh - 248px) / 2) 64px;
  justify-content: center;
  background: #fff url("../../img/homePage/homePage.jpg") no-repeat center /
    cover;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
  .container {
    background-image: url("../../img/homePage/homePage@2x.jpg");
  }
}

.button {
  text-decoration: none;
  display: block;
  width: 172px;
}

.itemsContainer {
  display: flex;
  gap: 40px;
  flex-direction: column;
}

.textContainer {
  flex-direction: column;
  display: flex;
  gap: 16px;
  color: var(--inputs);
}

@media screen and (max-width: 769px) {
  .mainTitle {
    font-size: 32px;
  }
  .senondaryTitle {
    font-size: 16px;
  }
}

@media screen and (max-width: 769px) {
  .mainTitle {
    font-size: 24px;
  }
  .senondaryTitle {
    font-size: 12px;
  }
}
